<!-- 
<div class="classic resume-template">
  <h2 class="resume_name">{{ resume.full_name }}</h2>
  <p class="resume_email"><b>Email:</b> {{ resume.email }}</p>
  <p class="resume_phone"><b>Phone:</b> {{ resume.phone }}</p>
  
  <hr>
  <div class="summary form-group">
    <h3>Summary</h3>
    <p>{{ resume.summary }}</p>
  </div>
  
  <div class="skills form-group">
    <h3>Skills</h3>
    <p>{{ resume.skills }}</p>
  </div>
  
  <div class="experience form-group">
    <h3>Experience</h3>
    <p>{{ resume.experience }}</p>
  </div>
  
  <div class="education form-group">
    <h3>Education</h3>
    <p>{{ resume.education }}</p>
  </div>
</div> -->
{% load static %}
{% block csslink %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock csslink %}
    

<div class="classic resume">

    <!-- LEFT SIDEBAR -->
    <div class="left">
        <div class="profile-pic">
        {% if resume.image %}
            <img src="{{ resume.images.url }}" alt="Profile">
        {% else %}
            <img title="default image" src="{% static 'images/pic.jpeg' %}">
        {% endif %}
        </div>

        <h1>{{ resume.full_name }}</h1>
        <p class="role">{{ resume.role }}</p>

        <div class="section">
            <h3>CONTACT</h3>
            <p>📞 {{resume.phone}}</p>
            <p>{{resume.email}}</p>
            <p>📍 {{resume.location}}</p>
        </div>

        <div class="section">
            <h3>SKILLS</h3>
           <ul>
            {% for skill in resume.skills_list %}
                <li>{{ skill }}</li>
            {% endfor %}
            </ul>
        </div>

        <div class="section">
            <h3>LANGUAGES</h3>
            <ul>
            {% for language in resume.Languages_list %}
                <li>{{ language }}</li>
            {% endfor %}
        </div>

        <div class="section">
            <h3>HOBBIES</h3>
            <ul>
            {% for hobby in resume.hobbys_list %}
                <li>{{ hobby }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>

    <!-- RIGHT CONTENT -->
    <div class="right">

        <div class="content-section">
            <h2>PROFILE</h2>
            <p>
                {{ resume.summary|linebreaks  }}
            </p>
        </div>

        <div class="content-section">
            <h2>WORK EXPERIENCE</h2>
            {% comment %} {% for line in experience_lines %}
                {% if "|" in line or "Tutor" in line %}
                    <p><strong>{{ line }}</strong></p>
                {% else %}
                    <p>{{ line }}</p>
                {% endif %}
            {% endfor %} {% endcomment %}
             {{ experience_html }}
            
        </div>

        <div class="content-section">
            <h2>EDUCATION</h2>
            {% for line in education_lines %}
                {% if "|" in line %}
                    <p><strong>{{ line }}</strong></p>
                {% else %}
                    <p>{{ line }}</p>
                {% endif %}
            {% endfor %}
            
        </div>

    </div>
</div>