{% extends "home.html" %}
{% load static %}

{% block csslink %}
<link rel="stylesheet" href="{%static 'css/style.css' %}" />
<link rel="stylesheet" href="{%static 'css/create_job.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock csslink %}

{% block body %}
<div class="min-h-screen bg-gray-100 p-8">

    <h1 class="text-3xl font-bold mb-6">Recruiter Dashboard</h1>

    <!-- Stats Cards -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-8">
        <div class="bg-white p-6 rounded-xl shadow">
            <h2 class="text-gray-500">Total Jobs</h2>
            <p class="text-2xl font-bold">{{ total_jobs }}</p>
        </div>

        <div class="bg-white p-6 rounded-xl shadow">
            <h2 class="text-gray-500">Total Applications</h2>
            <p class="text-2xl font-bold">{{ total_applications }}</p>
        </div>
    </div>

    <!-- Create Job Button -->
    <div class="mb-6">
        <a href="{% url 'jobs:create_job' %}"
           class="bg-blue-600 text-white px-5 py-2 rounded-lg shadow hover:bg-blue-700 transition">
            + Post New Job
        </a>
    </div>
    

    <!-- Job List -->
    <div class="space-y-4">
        {% for job in jobs %}
<div class="bg-white p-6 rounded-xl shadow flex justify-between items-center">
    <div>
        <h3 class="text-xl font-semibold">{{ job.title }}</h3>
        <p class="text-gray-500">{{ job.location }}</p>
    </div>

    <div class="flex gap-4">
        <a href="{% url 'jobs:job_detail' job.id %}"
           class="text-blue-600 hover:underline">
            View
        </a>

        <a href="{% url 'jobs:view_applicants' job.id %}"
           class="text-green-600 hover:underline">
            View Applicants
        </a>
    </div>
</div>
{% empty %}
<p>No jobs posted yet.</p>
{% endfor %}
    </div>


</div>

{% endblock body %}
{% block jsfile %}    
<script src="https://cdn.tailwindcss.com"></script>
{% endblock jsfile %}