{% extends "home.html" %}
{% load static %}

{% block csslink %}
<link rel="stylesheet" href="{%static 'css/style.css' %}" />
<link rel="stylesheet" href="{%static 'css/applicant.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock csslink %}

{% block body %}
<h2>Applicants for {{ job.title }}</h2>

<table border="1" cellpadding="10">
    <tr>
        <th>Name</th>
        <th>Resume</th>
        <th>Applied On</th>
    </tr>

    {% for app in applications %}
    <tr>
        <td>{{ app.applicant.username }}</td>
        <td>
            <a href="{{ app.resume.url }}" target="_blank">
                View Resume
            </a>
        </td>
        <td>{{ app.applied_at }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">No applicants yet.</td>
    </tr>
    {% endfor %}
</table>

{% endblock body %}
{% block jsfile %}    
<script src="https://cdn.tailwindcss.com"></script>
{% endblock jsfile %}