{% extends 'home.html' %}
{% load static %}

{% block title %}
  Register Page
{% endblock title %}

{% block csslink %}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link rel="stylesheet" href="{%static 'css/style.css' %}">
      <link rel="stylesheet" href="{%static 'css/sign.css' %}">
{% endblock csslink %}

{% block body %}

{% endblock body %}


{% block jsfile %}
<script src="{%static 'js/sign.js' %}"></script>
{% endblock jsfile %}
    

    
   
