{% extends 'home.html' %}
{% load static %}

{% block title %}
  Services Page
{% endblock title %}

{% block csslink %}
<link rel="stylesheet" href="{%static 'css/style.css' %}" />
<link rel="stylesheet" href="{%static 'css/services.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock csslink %}

{% block body %}
 <div class="service-card" style="background-image:url('{% static 'images/conatct-bg.jpg' %}');">
    <h3>Resume Builder</h3>
    <p>Create a professional resume in minutes. Confused about how to create a stunning resume? No Worries! Our Resume Writer is here for you.</p>
    <a href="{% url 'Pages:create_resume' %}" class="resume-btn">
      Build Resume
    </a>
</div>
 <!-- ===== HEADER ===== -->
    <header class="header">
        <h1>Our Services</h1>
        <p>Everything you need to build your career in one place</p>
    </header>

    <!-- ===== SERVICES SECTION ===== -->
    {% if user.profile.role == "seeker" %}  
    <section class="services-container">

        <!-- Skill Assessment -->
        
        <a href="{% url 'Pages:Skill_Assessment' %}">
          <div class="service-card-section">
            <img src="{% static 'images/skill_ass.jpg' %}" alt="career">
            <span>
              <h2>Skill Assessment Tests</h2>
              <p>
                Evaluate your technical and professional skills with curated
                assessments designed to match industry standards.
              </p>
            </span>
          </div>
      </a>

        <!-- History -->
        <a href="{% url 'Pages:history' %}">
          <div class="service-card-section">
            <img src="{% static 'images/history.png' %}" alt="career">
            <span>

              <h2>History</h2>
              <p>
                Track your job applications, viewed jobs, saved jobs, and past
                activity all in one place.
              </p>
            </span>
          </div>
      </a>

        <!-- Notifications -->
        <a href="{% url 'notifications:notifications' %}">
          <div class="service-card-section">
            <img src="{% static 'images/notification.png' %}" alt="career">
            <span>

              <h2>Notifications & Job Alerts</h2>
              <p>
                Get real-time notifications for new job postings, application
                status updates, and employer responses.
              </p>
            </span>
          </div>
        {% comment %} </a> {% endcomment %}

        <!-- Career Counselling -->
        <a href="{% url 'Pages:counselling' %}">
          <div class="service-card-section">
            <img src="{% static 'images/career.png' %}" alt="career">
            <span>

              <h2>Career Counselling</h2>
              <p>
                Get expert guidance to choose the right career path, improve
                your resume, and prepare for interviews.
              </p>
            </span>
          </div>
      </a>

        <!-- Contact -->
        <a href="{% url 'Pages:contact' %}">
          <div class="service-card-section">
            <img src="{% static 'images/contact.jpg' %}" alt="contact">
            <span>
              
              <h2>Contact Us</h2>
              <p>
                Have questions or need help? Reach out to our support team for
                quick assistance and guidance.
              </p>
            </span>
          </div>
        </a>

    </section>
    {% else %}
    <section class="services-container">

        <!-- Skill Assessment -->
        
        <a href="{% url 'Pages:schedule_interview' %}">
          <div class="service-card-section">
            <img src="{% static 'images/skill_ass.jpg' %}" alt="career">
            <span>
              <h2>Schedule interview</h2>
              <p>
                Evaluate your technical and professional skills with curated
                assessments designed to match industry standards.
              </p>
            </span>
          </div>
      </a>

        <!-- History -->
        <a href="{% url 'Pages:candidate' %}">
          <div class="service-card-section">
            <img src="{% static 'images/history.png' %}" alt="career">
            <span>

              <h2>View Profile</h2>
              <p>
                Track your job applications, viewed jobs, saved jobs, and past
                activity all in one place.
              </p>
            </span>
          </div>
      </a>

        <!-- Notifications -->
        <a href="{% url 'notifications:notifications' %}">
          <div class="service-card-section">
            <img src="{% static 'images/notification.png' %}" alt="career">
            <span>

              <h2>Notifications & Job Alerts</h2>
              <p>
                Get real-time notifications for new job postings, application
                status updates, and employer responses.
              </p>
            </span>
          </div>
        {% comment %} </a> {% endcomment %}

        <!-- Career Counselling -->
        <a href="{% url 'applications:create_assessment' %}">
          <div class="service-card-section">
            <img src="{% static 'images/career.png' %}" alt="career">
            <span>

              <h2>Add Assessment</h2>
              <p>
                Get expert guidance to choose the right career path, improve
                your resume, and prepare for interviews.
              </p>
            </span>
          </div>
      </a>

        <!-- Contact -->
        <a href="{% url 'Pages:contact' %}">
          <div class="service-card-section">
            <img src="{% static 'images/contact.jpg' %}" alt="contact">
            <span>
              
              <h2>Contact Us</h2>
              <p>
                Have questions or need help? Reach out to our support team for
                quick assistance and guidance.
              </p>
            </span>
          </div>
        </a>

    </section>

    {% endif %}

    <!-- ===== FOOTER ===== -->
    <footer class="footer">
        <p>&copy; 2026 Job Portal. All rights reserved.</p>
    </footer>


{% endblock body %}

{% block jsfile %}
<script src="{% static 'website/script.js' %}"></script>
{% endblock jsfile %}