{% extends 'home.html' %}
{% load static %}

{% block title %}career counselling{% endblock title %}

{% block csslink %}
<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
<link rel="stylesheet" href="{% static 'css/Skill_Assessment.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock csslink %}


{% block body %}
  <div class="counselling">
    <span class="flex">
    <h2>Skill Assessment page</h2>
      🛎️
    </span>
    <div>
      
    </div>
  </div>
{% endblock body %}