{% extends 'home.html' %}
{% load static %}

{% block title %}Notification & Job Alerts{% endblock title %}

{% block csslink %}
<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
<link rel="stylesheet" href="{% static 'css/Notification.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock csslink %}


{% block body %}
  <div class="max-w-3xl mx-auto mt-10">
<div class="flex justify-between">
    <h2 class="text-2xl font-bold mb-6">
        🔔 Notifications
    </h2>
    <a href="{% url 'notifications:clear_notifications' %}"
    onclick="return confirm('Clear all notifications?')"
    class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600 m-2">
    Clear All
    </a>
</div>

{% for n in notifications %}

<div class="bg-white shadow p-4 rounded mb-3">

<p>{{ n.message }}</p>

<span class="text-sm text-gray-500">
{{ n.created_at }}
</span>

</div>

{% empty %}

<p>No notifications yet</p>

{% endfor %}

</div>


{% endblock body %}

  