{% extends 'home.html' %}
{% load static %}

{% block title %}Resume Preview{% endblock title %}

{% block csslink %}
<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
<link rel="stylesheet" href="{% static 'css/'|add:resume.template|add:'.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock csslink %}

{% block body %}
  {% include 'resume_Template/'|add:resume.template|add:'.html' %}

  <div class="downlord-section">
    <a href="{% url 'Pages:download_resume' resume.id %}" class="btn-download">
      Download Resume (PDF)
    </a>
  </div>
{% endblock body %}
